TELEGRAM_BOT_TOKEN=
GEMINI_API_KEY=
TELEGRAM_CHAT_ID=
TIMEZONE=Europe/Bratislava

# Email (IMAP)
IMAP_SERVER=
IMAP_PORT=993
IMAP_EMAIL=
IMAP_PASSWORD=

# GitLab
GITLAB_URL=
GITLAB_TOKEN=
GITLAB_USERNAME=
